[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
groq = "*"             
transformers = "*"    
sentence-transformers = "*" 
torch = "*"           
faiss-cpu = "*"        
PyPDF2 = "*"           
pytesseract = "*"     
bcrypt = "*"
python-jose = "*"
chromadb = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.10"
